.bg-dark {
    background-color: #343a40!important;
    margin-bottom: 0px!important; 
    border-bottom: 0px!important; 
    color: #ccc;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
}
body {           
    background-color: #455f6b;
    color: white;
}
th {
    background-color: #574D4D;
    color: white;
}
tr:nth-child(odd) {
    background-color: #98AFC7;
}
tr:nth-child(even) {
    background-color: white;
}

table#postTable {
    color: #000;
}
.site-heading {
    padding-top: 50px;
    padding-bottom: 50px;
}
label.control-label.col-sm-2 {
    color: #000;
}

th {
    text-align: center;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #343a40!important;
    color: #f9f9f9!important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #fff!important;
    background-color: #343a40;
}

ul.dropdown-menu {
    background: #343a40;
}

.dropdown-menu>li>a {
    color: #fff;
}

label {
    color: #333;
}
nav.navbar.navbar-default.navbar-static-top {
    background-color: #343a40!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #343a40;
    color: #555;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #98AFC7;
}